body,html{
	margin: 0;
	height: 100%;
	background:#feb236;

}
	
img{
	
	margin: 0;
   padding:0px 0px 0px 0px ;
   object-fit: none;
   object-position: -5px 5%;
   background-position: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; 

   

   
  
}



 ul{
 	list-style-type:none; 
	margin: 0;
	padding: 0;
	
	background-color: #000000;
	height: 100%;
	width: 300px;
	position: fixed;
	

	
}
 li a{
 display: block;
 padding: 16px 10px;	
 text-decoration: none;
 font-family: sans-serif;
 border-bottom:solid white 2px;
 font-size: 20px;
 text-align: center;
 padding-bottom: 10px;
 color: #DC4C46;
}
li a.active{
	background-color:#edA3;
	color: silver;
	
}
.alfret>div,.fred{
			
			padding: 1em;
			}


 .alfret{
 	display: grid;
 	background-color:#4a2de4 ;
 	margin:0;
 	
 	/*grid-gap: 1em;*/
 	/*padding-left: 410px;
 	background-position: fixed;*/
 	grid-template-columns:  1fr;
 	width:1035px;
 	padding:0;
    float: right;
    height: 100%;
    

 }
 
 .cd1{
   border: 1px solid white;
  background:black ;
  grid-row: 1/4;
  background-image:url("../pics/ew.jpg");
  background-size: cover;	
}

.cd2{
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1em;
  }
.DC{
	border: 1px solid black;

}
.fred{
	display: grid;
	margin: 0;
	height: 100%;
	background: tan;
	border: 1px solid black;
	width:1035px;
 	padding:0;
    float: right;
}
#de{
	border: 1px solid black;
	background: url("../pics/22.jpg");
	background-size: cover;
	object-fit: all;
	object-position: 25px 50%;

	
}
#re{
	
	border: groove 3px black;
}